<table class="table table-condensed text-center" style="width=70%">
  <tbody>
    <tr class="success">
    <% @result.each do |a| %>
        <td><%= a %></td>

    <% end %>
    </tr>
  </tbody>
</table>
