<div class="container">
  <h1>Oz Lotto Game</h1>
<hr>
  <div class="result">
    <%= button_to('Generate result', oz_lottos_generate_result_path, remote: true, class: 'btn btn-primary') %>
    <div class="">
      <div class="" id="result_lotto" style=""><%= render 'generated_lotto' %></div>
      <div class="" id="result_form" style="display:none;"></div>
    </div>
  </div>
  <div class="myLottos">
    <%= button_to('Add a game', oz_lottos_add_path, remote: true, class: 'btn btn-default') %>
    <div class="container">
      <div class="" id="oz_lottos"><%= render 'oz_lottos' %></div>
    </div>
  </div>
</div>
