<h1>OzLotto#index</h1>
<p>Find me in app/views/oz_lotto/index.html.erb</p>

<h1>Loots</h1>

<%= link_to 'Generate result', oz_lottos_generate_result_path, remote: true %>
<div class="row">
  <div class="" id="result" style="display:none;"></div>
</div>


<%= link_to 'add a game', oz_lottos_add_path, remote: true %>

<div class="row">
  <div class="" id="lotto" style="display:none;"></div>
  <div class="" id="oz_lottos"><%= render 'oz_lottos' %></div>
</div>
