// Place all the styles related to the OzLottos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type="text"].lotto {
  width: 61px;
  height: 39px;
  padding: 8px;
}

#result, #result_lotto, #lotto > table {
  width: 50%;
  margin: 10px;
}
