// Place all the styles related to the OzLottos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type="text"].lotto {
  width: 60px;
  height: 35px;
  padding: 8px;
}

#result, #result_lotto, #lotto, #result_form > table {
  width: 60%;
  margin: 10px;
}

.lotto-match {
  color: #ff0000;
}

.sup-match {
  color: blue;
}
